/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    1 GENERAL
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: #821700;
}

h2 {
	color: #333333;
}

h3 {
	color: #ffffff;
}

h4 {
	color: #ffffff;
}

h5 {
	color: #e04c03;
}

p {
	color: #ffffff;
}

.orange {
	color: #e04c03;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

hr {
	border-top: 3px solid #5e1000;
	width: 40%;
}

.hr-left {
	margin-left: 0;
}

.hr-padding {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.hr { 
	background: url('../images/map-icon.png') no-repeat top center;
    background-size: contain;
    height: 18px;
    border: 0;
    position: relative;
    width: 200px;
    margin: auto;
}

.hr:before,
.hr:after {
	content: '';
    display: block;
    position: absolute;
    background: #5e1000;
    height: 2px;
    top: 8px;
}

.hr:before {
	left: 0;
	right: 50%;
	margin-right: 10px;
}

.hr:after {
	right: 0;
	left: 50%;
	margin-left: 10px;
}


/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    2 BUTTONS
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
.btn-outline-primary {
	color: #92b81b;
	border-color: #749315;
	cursor: pointer;
}

.btn-outline-primary:hover {
	background-color: #92b81b;
	border-color: #749315;
}

.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

.btn-outline-primary:not([disabled]):not(.disabled):active {
	background-color: #92b81b;
	border-color: #e04c03;
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

.btn-secondary {
	cursor: pointer;
}

.btn-primary {
	background: #92b81b;
	background-image: -webkit-linear-gradient(top, #92b81b, #749315);
	background-image: -moz-linear-gradient(top, #92b81b, #749315);
	background-image: -ms-linear-gradient(top, #92b81b, #749315);
	background-image: -o-linear-gradient(top, #92b81b, #749315);
	background-image: linear-gradient(to bottom, #92b81b, #749315);
	border: solid #749315 1px;
	cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
	background: #749315;
	background-image: -webkit-linear-gradient(top, #749315, #92b81b);
	background-image: -moz-linear-gradient(top, #749315, #92b81b);
	background-image: -ms-linear-gradient(top, #749315, #92b81b);
	background-image: -o-linear-gradient(top, #749315, #92b81b);
	background-image: linear-gradient(to bottom, #749315, #92b81b);
	border: solid #749315 1px;
}

.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

.btn-primary:not([disabled]):not(.disabled):active {
	background-color: #92b81b;
	border-color: #749315;
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    3 WELCOME HERO
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#welcome-hero {
	background-color: #cccccc;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    4 AS FEATURED IN
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#featured-in {
	background-color: #f4f4f4;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.featured-height {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    5 WHO ARE FINDERMONKEY
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#FinderMonkey {
	background-color: #232323;
}

.mac-image {
	max-width: 539px;
}

.tick-boxes p {
	margin-bottom: 0px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    6 HOW WILL THIS COURSE HELP ME
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#course-help {
	background-color: #161616;
}

.icon {
	color: #e04c03;
}