/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    1 GENERAL
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: #821700;
	padding-top: 30px;
}

h2 {
	color: #333333;
	font-weight: 400;
	margin: 0 auto;
	padding-bottom: 23px;
}

h3 {
	color: #ffffff;
}

h4 {
	color: #ffffff;
	padding-bottom: 50px;
	margin: 0 auto;
	width: 75%;
	font-weight: 400;
}

h5 {
	color: #e04c03;
}

p {
	color: #ffffff;
}

.left-header {
	padding-top: 35px;
	font-size: 48px;
}

.right-header {
	padding-top: 35px;
	font-size: 48px;
}

.center-header {
	padding-top: 35px;
	font-size: 48px;
}

.paragraph-text p {
	line-height: 1;
}

.tick-boxes {
	padding-top: 20px;
}

.orange {
	color: #e04c03;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.self-centre {
	align-self: center;
}

hr {
	border-top: 3px solid #5e1000;
	max-width: 200px;
	margin-bottom: 35px;
}

.dave-hr {
	margin-bottom: 0px;
}

.hr-white {
	border-top: 2px solid #ffffff;
	max-width: 150px;
}

.hr-left {
	margin-left: 0;
}

.hr-padding {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.hr { 
	background: url('../images/map-icon.png') no-repeat top center;
    background-size: contain;
    height: 18px;
    border: 0;
    position: relative;
    width: 200px;
    margin: auto;
}

.hr:before,
.hr:after {
	content: '';
    display: block;
    position: absolute;
    background: #5e1000;
    height: 2px;
    top: 8px;
}

.hr:before {
	left: 0;
	right: 50%;
	margin-right: 10px;
}

.hr:after {
	right: 0;
	left: 50%;
	margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.nav-item {
	padding: 15px;
}

ul.navbar-nav {
	margin-left: auto;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	margin-left: auto;
}

.bg-light {
	background-color: #f4f4f4;
	border-bottom: 1px solid #cccccc;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    2 BUTTONS
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
.btn-outline-primary {
	color: #92b81b;
	border-color: #749315;
	cursor: pointer;
}

.btn-outline-primary:hover {
	background-color: #92b81b;
	border-color: #749315;
}

.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

.btn-outline-primary:not([disabled]):not(.disabled):active {
	background-color: #92b81b;
	border-color: #e04c03;
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

.btn-secondary {
	cursor: pointer;
}

.btn-primary {
	background: #92b81b;
	background-image: -webkit-linear-gradient(top, #92b81b, #749315);
	background-image: -moz-linear-gradient(top, #92b81b, #749315);
	background-image: -ms-linear-gradient(top, #92b81b, #749315);
	background-image: -o-linear-gradient(top, #92b81b, #749315);
	background-image: linear-gradient(to bottom, #92b81b, #749315);
	border: solid #749315 1px;
	cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
	background: #749315;
	background-image: -webkit-linear-gradient(top, #749315, #92b81b);
	background-image: -moz-linear-gradient(top, #749315, #92b81b);
	background-image: -ms-linear-gradient(top, #749315, #92b81b);
	background-image: -o-linear-gradient(top, #749315, #92b81b);
	background-image: linear-gradient(to bottom, #749315, #92b81b);
	border: solid #749315 1px;
}

.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

.btn-primary:not([disabled]):not(.disabled):active {
	background-color: #92b81b;
	border-color: #749315;
	box-shadow: 0 0 0 0.2rem rgba(146,184,27, .5);
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    3 WELCOME HERO
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#welcome-hero {
	background-color: #cccccc;
	background: url(../images/hero-background.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 35px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    4 AS FEATURED IN
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#featured-in {
	background-color: #f4f4f4;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.featured-height {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    5 ABOUT THE COURSE
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#about-the-course {
	background-color: #232323;
	padding-bottom: 35px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    5 WHO ARE FINDERMONKEY
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#FinderMonkey {
	background-color: #232323;
	padding-bottom: 35px;
}

.tick-boxes p {
	margin-bottom: 5px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    6 HOW WILL THIS COURSE HELP ME
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#course-help {
	background-color: #161616;
	padding-bottom: 35px;
}

.icon {
	color: #e04c03;
	padding-bottom: 10px;
}

.mobile-image {
	text-align: center;
}

.mobile-image img {
	max-width: 225px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    7 WHO IS DAVID OATES
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#dave-oates {
	background-color: #4d7a9a;
	padding-bottom: 35px;
}

iframe {
	max-width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    8 HOW MUCH DOES IT COST
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#cost {
	background-color: #6098c0;
	padding-bottom: 35px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    9 IS THIS GUIDE FOR ME
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#guide-for-me {
	background-color: #232323;
	padding-bottom: 35px;
}

.guide-header {
	font-size: 30px;
}

.guide-text p {
	margin: 0;
	color: #e04c03;
}

.green p {
	margin: 0;
	color: #92b81b;
	font-weight: 700;
}

.red p {
	margin: 0;
	color: #b82828;
}

.guide-background {
	background-color: #161616;
	margin-bottom: 20px;
	padding: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    10 FREQUENTLY ASKED QUESTIONS
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#faq {
	background-color: #161616;
	padding-bottom: 35px;
}

.card {
	border-radius: initial;
	background-color: #232323;
	margin-bottom: 1rem;
	border: initial;
}

.card-header {
	border-bottom: initial;
}

.card-body {
	background-color: #606060;
}

.btn-link {
	color: #ffffff;
}

.btn-link:hover {
	color: #ffffff;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    11 HOW THIS GUIDE HAS HELPED PEOPLE JUST LIKE YOU
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#help-people {
	background-color: #4d7a9a;
	padding-bottom: 35px;
}

.review {
    background-color: #262626;
    padding: 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #232323;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
}

.review i {
	color: #e04c03;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    12 HOW DO I GET STARTED
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#get-started {
	background-color: #6098c0;
	padding-bottom: 35px;
}

.steps {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #232323;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
}

.steps-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center;
	padding: 1.25rem;
}

.steps-body i {
	color: #e04c03;
}

.steps-title {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	color: #e04c03;
	padding-bottom: initial;
	font-weight: 500;
	width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    13 FOOTER
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#remember {
	background-color: #232323;
	padding-bottom: 35px;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
    14 FOOTER
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
footer {
	background-color: #161616;
	padding-top: 40px;
	padding-bottom: 30px;
}